/* fonts */
@font-face {
  font-family: 'oswald';
  font-weight: 100;
  font-display: swap;
  src: url(../../public/fonts/Oswald-Bold.ttf) format('woff2');
}

@font-face {
  font-family: 'oswald-reg';
  font-weight: 100;
  font-display: swap;
  src: url(../../public/fonts/Oswald-Regular.ttf) format('woff2');
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  color: #e4e4e4;
  font-family: 'oswald-reg';
  font-weight: 100;
}



/* Mobile */
@media (max-width: 700px) {
.main{
  padding: 10px;
}
}

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
} */
