.container {
  width: 100%;
  background-color: #170021;
  display: flex;
  align-items: flex-end;
  height:  200px;
  margin-top: 180px;
}

.footer {
  display: flex;
  flex-direction: row;
  width:100%;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  flex-wrap: wrap;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.socials img {
  width: 35px;
  height: 35px;
}

.socials img:hover{
  scale: 1.3;
}

.logo{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-bottom: 30px;
}


