.linksAndSocials {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 36px;
    right: 7px;
    height: 100vh;
    overflow: auto;
    background-color:  #220032;
    width: 40%;
    padding: 10px;
    z-index: 2;
  }
  
  .goback {
    width: 40px;
    height: 40px;
    margin: 35px 3px;
    color: #fff;
  }
  
  .links {
    margin: 40px 10px;
    display: flex;
    flex-direction: column;
  }
  
  .links a {
    color: #fff;
    font-size: 16px;
    margin: 20px 10px;
  }

  .links a:hover{
    scale:1.1 ;
    color: #9117d3;
  }
  
  .hide {
    display: none;
  }
  
  .socials {
    margin: 0px 10px;
    display: flex;
    position: relative;
    bottom: 0;
  }
  
  .socials a img {
    width: 33px;
    height: 30px;
    margin: 0px 5px;
  }

  .socials a img:hover{
    scale:1.1 ;

  }
  
  @media screen and (min-width: 768px) {
    .linksAndSocials {
      display: none;
    }
  }