.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 100px 0px;
    width: 100%;
    overflow: hidden;
    margin: 30px;
    color: #e4e4e4;
   
  }
  
  .container h2 {
    text-align: center;
    font-size: 27px;
    width: 80%;
    font-weight: 600;
    margin: 50px 0px;

  }
  
  
  .container p {
    font-size: 20px;
    color: #e4e4e4;
    padding:14px;
  }

  .container img{
    margin-top: 30px;
  }
  
  
  @media screen and (min-width: 900px) {
    .benefits {
      width: 80%;
    }
  
    .container h2 {
      font-size: 40px;
      width: 70%;
    }
  }
  
  @media screen and (min-width: 1150px) {
    .benefits {
      width: 95%;
    }
  
    .container h2 {
      font-size: 45px;
      width: 70%;
    }
  }
  
  @media screen and (min-width: 1350px) {
    .benefits {
      width: 80%;
    }
  
    .container h2 {
      font-size: 50px;
      width: 65%;
    }
  }
  
  @media screen and (min-width: 1400px) {
    .benefits {
      width: 70%;
    }
  
    .container h2 {
      font-size: 53px;
      width: 50%;
    }
  }
  
  .cardsCon{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 35px 0px;
    margin-top: 80px;
  }
  .card {
    width: 300px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(54, 52, 52, 0.287),
        rgba(255, 255, 255, 0.2)
      
       
    );
    backdrop-filter: blur(3rem);
    border:1px solid #ab74de87;
    border-radius:  3%;
    transform-origin: 3% 80%;
  }
  
  .cardContainer {
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 30px;
    margin-bottom: -90px;
  }
.cardContainer:hover{
  z-index: 7;
}
  /* .splash {
    width: 350px;
    background: #ab74de;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    clip-path: path(
      "M 0 303.5 C 0 292.454 8.995 285.101 20 283.5 L 460 219.5 C 470.085 218.033 480 228.454 480 239.5 L 500 430 C 500 441.046 491.046 450 480 450 L 20 450 C 8.954 450 0 441.046 0 430 Z"
    );
  } */


  .skilltitle{
    width:  90%;
    display: flex;
    justify-content: flex-start;
    padding: 80px 0px;
    /* text-align: left; */
  }
  .cardImg{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .card h3{
    color: #e4e4e4;    font-size: 30px;
  }